# Maven / Gradle
target/
build/
out/
*.iml

# IDEs
.idea/
*.iws
*.ipr
.vscode/
*.sw?
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*

# Quarkus specific
.quarkus/
.quarkus-profile-*

# Test coverage
coverage/
jacoco.exec

# Local dev
*.local

# JobRunr Pro license (ignore in any directory)
**/jobrunr-pro.license
