services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.5.4
    container_name: jobrunr-keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_PORT: 8080
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_HTTP_ENABLED: "true"
    ports:
      - "8080:8080"
    volumes:
      - ./jobrunr-control-example/src/main/resources/keycloak-realm.json:/opt/keycloak/data/import/realm.json:Z
    command:
      - start-dev
      - --import-realm
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/health/ready" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

