{#if parameters.empty}
    <div class="alert alert-secondary" role="alert">
        <small>Dieser Job hat keine Parameter.</small>
    </div>
{#else}
    <div class="card">
        <div class="card-header">
            <strong>Job-Parameter</strong>
        </div>
        <div class="card-body">
            {#for param in parameters}
                <div class="mb-3">
                    <label for="param-{param.name()}" class="form-label">
                        {param.name()}
                        {#if param.required()}
                            <span class="text-danger">*</span>
                        {/if}
                        <small class="text-muted">(Typ: {param.type()})</small>
                    </label>

                    {#if param.type().name() == 'STRING'}
                        <input type="text"
                               name="parameters.{param.name()}"
                               id="param-{param.name()}"
                               class="form-control"
                               {#if param.required()}required{/if}
                                {#if existingValues}
                                    {#if existingValues.get(param.name())}
                                        value="{existingValues.get(param.name())}"
                                    {#else}
                                        {#if param.defaultValue()}
                                            value="{param.defaultValue()}"
                                        {/if}
                                    {/if}
                                {#else}
                                    {#if param.defaultValue()}
                                        value="{param.defaultValue()}"
                                    {/if}
                                {/if}
                               placeholder="Text eingeben">

                    {#else if param.type().name() == 'INTEGER'}
                        <input type="number"
                               name="parameters.{param.name()}"
                               id="param-{param.name()}"
                               class="form-control"
                               {#if param.required()}required{/if}
                                {#if existingValues}
                                    {#if existingValues.get(param.name())}
                                        value="{existingValues.get(param.name())}"
                                    {#else}
                                        {#if param.defaultValue()}
                                            value="{param.defaultValue()}"
                                        {/if}
                                    {/if}
                                {#else}
                                    {#if param.defaultValue()}
                                        value="{param.defaultValue()}"
                                    {/if}
                                {/if}
                               placeholder="Zahl eingeben">

                    {#else if param.type().name() == 'BOOLEAN'}
                        <select name="parameters.{param.name()}"
                                id="param-{param.name()}"
                                class="form-select"
                                {#if param.required()}required{/if}>
                            {#if existingValues}
                                {#if existingValues.get(param.name())}
                                    <option value="true"
                                            {#if existingValues.get(param.name()) == 'true' || existingValues.get(param.name()) == true}selected{/if}>
                                        Ja
                                    </option>
                                    <option value="false"
                                            {#if existingValues.get(param.name()) == 'false' || existingValues.get(param.name()) == false}selected{/if}>
                                        Nein
                                    </option>
                                {#else}
                                    <option value="true" {#if param.defaultValue()}selected{/if}>Ja</option>
                                    <option value="false" {#if ! param.defaultValue()}selected{/if}>Nein</option>
                                {/if}
                            {#else}
                                <option value="true" {#if param.defaultValue() == 'true'}selected{/if}>Ja</option>
                                <option value="false" {#if param.defaultValue() == 'false'}selected{/if}>Nein</option>
                            {/if}
                        </select>

                    {#else if param.type().name() == 'DATE'}
                        <input type="date"
                               name="parameters.{param.name()}"
                               id="param-{param.name()}"
                               class="form-control"
                               {#if param.required()}required{/if}
                        {#if existingValues}
                            {#if existingValues.get(param.name())}
                                value="{existingValues.get(param.name())}"
                            {#else}
                                {#if param.defaultValue()}
                                    value="{param.defaultValue()}"
                                {/if}
                            {/if}
                        {#else}
                            {#if param.defaultValue()}
                                value="{param.defaultValue()}"
                            {/if}
                                {/if}>

                    {#else if param.type().name() == 'ENUM'}
                        <select name="parameters.{param.name()}"
                                id="param-{param.name()}"
                                class="form-select"
                                {#if param.required()}required{/if}>
                            {#if ! param.required()}
                                <option value="">-- Bitte auswählen --</option>
                            {/if}
                            {#for enumValue in param.enumValues()}
                                <option value="{enumValue}"
                                {#if existingValues}
                                    {#if existingValues.get(param.name())}
                                            {#if existingValues.get(param.name()).toString() == enumValue}selected{/if}
                                    {#else}
                                            {#if param.defaultValue() == enumValue}selected{/if}
                                    {/if}
                                {#else}
                                        {#if param.defaultValue() == enumValue}selected{/if}
                                        {/if}>
                                    {enumValue}
                                </option>
                            {/for}
                        </select>

                    {#else if param.type().name() == 'MULTI_ENUM'}
                        <select name="parameters.{param.name()}"
                                id="param-{param.name()}"
                                class="form-select"
                                multiple
                                size="5"
                                {#if param.required()}required{/if}>
                            {#for enumValue in param.enumValues()}
                                <option value="{enumValue}"
                                {#if existingValues}
                                    {#if existingValues.get(param.name())}
                                            {#if existingValues.get(param.name()).toString().contains(enumValue)}selected{/if}
                                    {#else}
                                            {#if param.defaultValue() && param.defaultValue().contains(enumValue)}selected{/if}
                                    {/if}
                                {#else}
                                        {#if param.defaultValue() && param.defaultValue().contains(enumValue)}selected{/if}
                                        {/if}>
                                    {enumValue}
                                </option>
                            {/for}
                        </select>
                        <small class="form-text text-muted">Mehrfachauswahl möglich (Strg/Cmd + Klick)</small>

                    {#else if param.type().name() == 'DATETIME'}
                        <input type="datetime-local"
                               name="parameters.{param.name()}"
                               id="param-{param.name()}"
                               class="form-control"
                               {#if param.required()}required{/if}
                        {#if existingValues}
                            {#if existingValues.get(param.name())}
                                value="{existingValues.get(param.name())}"
                            {#else}
                                {#if param.defaultValue()}
                                    value="{param.defaultValue()}"
                                {/if}
                            {/if}
                        {#else}
                            {#if param.defaultValue()}
                                value="{param.defaultValue()}"
                            {/if}
                                {/if}>
                    {/if}
                </div>
            {/for}
        </div>
    </div>
{/if}




